{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block content %}
<div style="background-color:#133C32 ">
<div class="row" style="padding-top:70px;">
    <div class="col-md-6">
        <div>
            <img src="{% static 'images/hero_2.jpg' %}" >
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group" style="padding-top:90px;">
            <form method="post">
    {% csrf_token %}
    <fieldset>
           <legend><h2>Register</h2></legend>
        <input type="text" name="username" placeholder="Enter Username" class="form-control"><br>
        <input type="password" name="password" placeholder="Enter password" class="form-control"><br>
        <input type="password" name="conpassword" placeholder="Confirm password" class="form-control"><br>

        <input type="submit" value="Register" class="form-control btn btn-success" ><br>

    </fieldset>
    <div class="container">


    </div>
</form>

        </div>

    </div>

</div>

</div>
{% endblock %}